.Article {
  margin-top: 60px;
  margin-bottom: 60px;

  transition: 1s margin;
}
.imgOpen {
  height: 50vw;
  width: 100vw;
  transition: .3s ;
}

.imgClosed {
  transition: .3s ;
  height: 0px!important;
  width: 100vw;
}

.imageOne {
  border-top: black solid 3px;
  background-image: url('/../../images/imageOne.jpg');
  background-size: cover;
  background-position: center;
  background-color: black;
}

.imageTwo {
  border-top: black solid 3px;
  background-image: url('/../../images/imageTwo.jpg');
  background-size: cover;
  background-position: center;
}

.Article.false{
    margin-top: 0;
    margin-bottom: 0;
}
