.Article {
  margin-top: 60px;
  margin-bottom: 60px;
}
.imgOpen {
  height: 50vw;
  width: 100vw;
  transition: .5s;
}

.imgClosed {
  transition: .5s;
  height: 0px!important;
  width: 100vw;
}

.imageOne {
  border-top: black solid 3px;
  height: 50vw;
  width: 100vw;
  background-image: url('/../../images/imageOne.jpg');
  background-size: cover;
  background-position: center;
}
