.article {
  margin-top: 60px;
  margin-bottom: 60px;
<<<<<<< HEAD

=======
>>>>>>> d20aaf465bd1d0c7b9ad4926813ade7eeec36685
  transition: 1s margin;
}
.imgOpen {
  height: 50vw;
  width: 100vw;
  transition: .3s ;
}

.imgClosed {
  transition: .3s ;
  height: 0px!important;
  width: 100vw;
}

.imageOne {
  border-top: black solid 3px;
  background-image: url('/../../images/imageOne.jpg');
  background-size: cover;
  background-position: center;
}

.imageTwo {
  border-top: black solid 3px;
  background-image: url('/../../images/imageTwo.jpg');
  background-size: cover;
  background-position: center;
}
<<<<<<< HEAD

.Article.false{
=======
.article.false{
>>>>>>> d20aaf465bd1d0c7b9ad4926813ade7eeec36685
    margin-top: 0;
    margin-bottom: 0;
}
