.audioContent {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
}

.audioTitle {
  font-family: 'pf-din-text-pro';
  font-size: 18px;
  line-height: 25px;
}

.audio {
  background-image: url('/../../icons/icon_extra_audio_white.svg');
}

.audioHeight {
  height: 268px;
  transition: .2s;
}

.buttonWrapper {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.buttons {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* height: 12vw;
  width: 12vw; */
}

.playAudio {
  background-image: url('/../../icons/icon_play_black.svg');
  height: 13vw;
  width: 13vw;
}

.backwards {
  background-image: url('/../../icons/icon_10back.svg');
  height: 11vw;
  width: 11vw;
}

.forwards {
  background-image: url('/../../icons/icon_10forward.svg');
  height: 11vw;
  width: 11vw;
}

.playbackContainer {
  height: 20%;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.playLine {
  background-color: #1A1A1A;
  height: 2px;
  width: 100%;
}

.playCircle {
  height: 13px;
  width: 13px;
  background-color: #FCFCF9;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(26,26,26,0.61);
  position: relative;
  transform: translateY(10px) translateX(-90px);
}

.timeContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.numbers {
  font-family: 'pf-din-text-pro';
  font-size: 12px;
  line-height: 17px;
}
