.headerLine {
  height: 3px;
  width: 100%;
  background-color: #D8AD9C;
  position: fixed;
  top: 50px;
}
.homePage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding-top: 30px;
}
a, .wrapperHome {
  text-decoration: none;
  color: black;
}
.wrapperHome {
  border: 2px solid #D8D8D8;
  height: 38vh;
  width: 24vh;
  margin-left: 16px;
}
.wrapperHome:hover {
  border: 2px solid #CA6A4A;
}

.Chapter3 {
  margin-top: -77px;
}
.Chapter1,.Chapter2 {
  margin-top: 40px;
}
.snapShot {
  height: 37vh;
  width: 24vh;
}
