.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
}
.logo {
  height: 32px;
  width: 90.48px;
  margin-left: 20px;
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
}
.hamburger {
  position: relative;
  display: flex;
  justify-content: flex-end;

}
.hamburger div {
  width: 10px;
  height: 10px;
  background-color: pink;
}
