.wrapper {
  position: fixed;
  width: 100%;
}
.logo {
  height: 32px;
  width: 90.48px;
  background-image: url('../../images/Filter_logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
.header {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
}
.hamburger {
  position: relative;
  display: flex;
  justify-content: flex-end;

}
.hamburger div {
  width: 10px;
  height: 10px;
  background-color: pink;
}
