.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
    transition: 1s transform;

}
.logo {
  height: 32px;
  width: 90.48px;
  margin-left: 20px;
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
}
.hamburger {
  position: absolute;
  right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 12px;
  width: 32px;
  height: 30px;
  border-radius: 50%;
}
.bars, .bars2, .bars3  {
  width: 30px;
  height: 3px;
  cursor: pointer;
  transition: 1s;
  background-color: white;
  margin-bottom: 6px;
}
.bars.Active {
  background-color: #D8AD9C;
  transition: 1s;
}

.wrapper.false{
    transform: translateY(-100%);
}
