.video {
  background-image: url('/../../icons/icon_extra_play_white.svg');
}

.videoHeight {
  height: 257px;
  transition: .2s;
}

.videoContent {
  width: 87.2%;
  margin-top: 4%;
  position: relative;
}

.playButton {
  height: 10vw;
  width: 10vw;
  background-image: url('/../../icons/icon_play_video.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  top: 70px;
  left: 150px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
