.scrollButton {
}

.scrollContainer {
  position: fixed;
  height: 80px;
  width: 50px;
  display: flex;
  flex-direction: column;
}

.scrollUpFast {
  height: 20px;
  width: 50px;
  background-color: red;
}
.scrollUpSlow {
  height: 20px;
  width: 50px;
  background-color: yellow;
}
.scrollDownSlow {
  height: 20px;
  width: 50px;
  background-color: blue;
}
.scrollDownFast {
  height: 20px;
  width: 50px;
  background-color: green;
}
