.fontsizeWrapper {
  cursor: pointer;
  height: 38px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "SF Pro Text";
}
.fontsizeIcon {
  width: 5vh;
  height: 4vh;
  background-image: url('/../../icons/icon_textsize.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.fontsizeText {
  height: 1vh;
  width: 7vh;
  color: white;
  line-height: 12px;
  font-weight: 300;
  font-size: 10px;
  margin:0;
}
