.progressBar {
  background-color: #A89898;
  height: 6px;
  width: 100%;
  position: fixed;
  top: 50px;
  transition: 0.3s transform;
  -webkit-transition: 0.3s transform;
  -moz-transition: 0.3s transform;
  -o-transition: 0.3s transform;
}

.progressBar.false{
  transform: translateY(-833%);
  -webkit-transform: translateY(-833%);
  -moz-transform: translateY(-833%);
  -o-transform: translateY(-833%);
}
