.progressBar {
  background-color: #A89898;
  height: 6px;
  width: 100%;
  position: fixed;
  top: 50px;
  transition: 1s top;
  z-index: 1000;
}

.progress-bar.false{
    top: -6px;
  transition: 1s top;
}

.progressBar.false{
  top: 0px;
}
