.readMore {
  height: 268px;
  width: 100vw;
  background-color: #D8AD9C;
  transition: .4s;
}
.readMoreClosed {
  height: 0px;
  width: 100vw;
  transition: .4s;
  background-color: #D8AD9C;
}
.open {
  background-image: url('/../../icons/icon_minus_black.svg');
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 18px;
  width: 18px;
  transition: 1s;
}
.closed {
  background-image: url('/../../icons/icon_extra_photo_white.svg');
  background-repeat: no-repeat;
  background-size: 16px 16px;
	height: 18px;
  width: 18px;
  transition: 1s;
}
.readMoreWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display {
  /* display: block; */
  opacity: 1;
  transition: 1s;
}

.displayNone {
  /* display: none; */
  opacity: 0;
  transition: 1s;
}
