.imgOpen {
  height: 50vw;
  width: 100vw;
  transition: .3s ;
}

.imgClosed {
  transition: .3s ;
  height: 0px!important;
  width: 100vw;
}

.imageOne {
  border-top: black solid 3px;
  background-image: url('/../../images/imageOne.jpg');
  background-size: cover;
  background-position: center;
}

.imageTwo {
  border-top: black solid 3px;
  background-image: url('/../../images/imageTwo.jpg');
  background-size: cover;
  background-position: center;
}
