.chapterFour {
  margin-top: 60px;
  margin-bottom: 60px;
  transition: 0.5s margin;
  -webkit-transition: 0.5s margin;
  -moz-transition: 0.5s margin;
  -o-transition: 0.5s margin;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.imgOpen {
  height: 50vw;
  width: 100vw;
  transition: .3s ;
}
.chapterFour.false{
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.BigText {
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
}
