.chapterOne {
  padding-top: 56px;
  padding-bottom: 60px;
  transition: 0.5s margin;
  -webkit-transition: 0.5s margin;
  -moz-transition: 0.5s margin;
  -o-transition: 0.5s margin;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  color: black;
  background-color: white;
}
.nightMode {
  color:white;
  background: black;
}
.chapterOne.menuDown{
  padding-top: 6px;
  padding-bottom: 15px;
  transition: 0.5s margin;
  -webkit-transition: 0.5s margin;
  -moz-transition: 0.5s margin;
  -o-transition: 0.5s margin;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.imgOpen {
  height: 50vw;
  width: 100vw;
  transition: .3s ;
}
.chapterContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 16px;
}
.chapterTextWrapper {
  padding-left: 24px;
  padding-right: 24px;
}
.lineSeperator {
  margin-left: 24px;
  background-color: #000000;
  height: 1px;
  width: 84vw;
}
.nextChapterText {
  font-family: "pf-din-text-pro";
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.nextChapterButton {
  background-image: url('/../../icons/icon_next_white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  height: 24px;
	width: 24px;
  border-radius: 2px;
  background-color: #D8AD9C;
  margin-left: 8px;
}
.nextChapterWrapper {
  width: 50%;
  align-self: flex-end;
  margin-top: 32px;
  margin-right: 10px;
  margin-bottom: 40px;
}

::-webkit-scrollbar {
display: none;
}

.pointerEventsOn {
  pointer-events: auto;
}

.pointerEventsOff {
  pointer-events: none;
}
