.commentDiv {
  position: absolute;
  top: 30%;
  left: 95%;
  transition: .1s ease-in-out;
}

.commentsWrapper {
  margin-right: 4px;
  font-family: "pf-din-text-pro";
  z-index: 1000;
  transition: .1s ease-in-out;
}

.commentsWrapper.Open {
  position: fixed;
  left: 6px;
  top: 15%;
  transition: .1s ease-in-out;
}
.commentIcon {
  background-image: url('/../../icons/icon_comment.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 21.01px;
  width: 16px;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: black;
  font-family: "pf-din-text-pro";
}
.readComments {
  height: 451px;
  width: 362px;
  border: 0.5px solid #1A1A1A;
  background-color: #FCFCF9;
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.1), 0 1px 4px 0 rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  position: fixed;
  top: 14%;
  right: 2%;
  z-index: 1000;
  transition: height .1s ease-in-out, width .1s ease-in-out;
  overflow: hidden;
}

.commentsHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.readCommentsBox {
  margin-left: 10px;
  height: 200px;
}
.readCommentsTitle {
  font-size: 16px;
  line-height: 16px;
  text-align:left;
  color: #A89898;
  display: flex;
  height: 44px;
  align-items: center;
}
.closeCommentsIcon {
  background-image: url('/../../icons/icon_close.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 14px;
  width: 10px;
}
.lineBetween {
  width: 343px;
  border: 0.5px solid #A89898;
}
.commentArticleTitle {
  font-family: "Harriet-Display-Regular";
  font-size: 16px;
  line-height: 19px;
  margin: 0px;
  margin-left: 16px;
  color: black;
}
.comment {
  font-size: 12px;
  color: black;
}
.theCommentedBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  line-height: 17px;
  color: #C78D41;
  margin-top: -6px;
}
.dot {
  color: black;
  margin-left: 21.2px;
  margin-right: 10px;
}
.goToForumIcon {
  background-image: url('/../../icons/icon_arrow_gray.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 12px;
  width: 14px;
  margin-right: 9px;
  margin-left: 7px;
}
.goToForumText {
	color: #A89898;
  font-size: 12px;
  line-height: 17px;
  display: flex;
  justify-content: flex-end;
}
