.wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 1s transform;
  z-index: 1000;
  -webkit-transition: 0.3s transform;
  -moz-transition: 0.3s transform;
  -o-transition: 0.3s transform;
}
.wrapper.false{
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}
.logo {
  height: 32px;
  width: 90.48px;
  margin-left: 10px;
}
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  background-color: black;
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 32px;
  height: 30px;
  border-radius: 50%;
}
.bars, .bars2, .bars3  {
  width: 27px;
  height: 3px;
  cursor: pointer;
  transition: 1s;
  background-color: white;
  margin-bottom: 5px;
}
.bars.Active {
  background-color: #D8AD9C;
  transition: 1s;
}
.titleAndNumber {
  height: 21px;
  width: 235px;
  color: #DAB0A0;
  font-family: 'HarrietText-Regular';
  font-size: 18px;
  line-height: NaNpx;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
