@font-face {
  font-family: 'Harriet Display-Regular';
  src: url('/Font/Harriet Display-Regular');
}
@font-face {
  font-family: 'HarrietDisplay-Light';
  src: url('/Font/HarrietDisplay-Light.otf');
}
@font-face {
  font-family: 'HarrietDisplayMedium';
  src: url('/Font/HarrietDisplayMedium.otf');
}
@font-face {
  font-family: 'HarrietText-Regular';
  src: url('/Font/HarrietText-Regular.otf');
}
@font-face {
  font-family: 'pf-din-text-pro';
  src: url('/Font/pf-din-text-pro.otf');
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
