.menuBottom {
  position: fixed;
  bottom: 0;
  height: 56px;
  width: 100%;
  border-top: 3px solid #C78D41;
  background-color: black;
  display: flex;
  justify-content: center;
<<<<<<< HEAD

=======
>>>>>>> d20aaf465bd1d0c7b9ad4926813ade7eeec36685
  transition: 1s transform;
}
.menuBottomContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  /* margin: 12px 12px 12px 12px; */
}

<<<<<<< HEAD
.menuBottom.false{
=======
.menuBottom.false {
>>>>>>> d20aaf465bd1d0c7b9ad4926813ade7eeec36685
  transform: translateY(100%);
}
