.menuBottom {
  position: fixed;
  bottom: 0;
  height: 56px;
  width: 100%;
  border-top: 3px solid #C78D41;
  background-color: black;
  display: flex;
  justify-content: center;
  transition: 0.3s transform;
  -webkit-transition: 0.3s transform;
  -moz-transition: 0.3s transform;
  -o-transition: 0.3s transform;
}
.menuBottomContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.menuBottom.false {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -o-transform: translateY(100%);
}
