.menuBottom {
  position: fixed;
  bottom: 0;
  height: 56px;
  width: 100%;
  border-top: 3px solid #C78D41;
  background-color: black;
  display: flex;
  justify-content: center;
}
.menuBottomContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  /* margin: 12px 12px 12px 12px; */
}
