.imgOpen {
  height: 50vw;
  width: 100vw;
  transition: .3s ;
}

.imgClosed {
  transition: .3s ;
  height: 0px!important;
  width: 100vw;
}

.imageOne {
  border-top: black solid 3px;
  background-image: url('/../../images/imageOne.jpg');
  background-size: cover;
  background-position: center;
}

.imageTwo {
  border-top: black solid 3px;
  background-image: url('/../../images/imageTwo.jpg');
  background-size: cover;
  background-position: center;
}
.previousChapterText {
  font-family: "pf-din-text-pro";
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.wrapperForButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.previousChapterButton {
  background-image: url('/../../icons/icon_next_white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  transform: rotate(180deg);
  height: 24px;
	width: 24px;
  border-radius: 2px;
  background-color: #D8AD9C;
  margin-right: 8px;
}
.previousChapterWrapper {
  width: 50%;
  margin-top: 32px;
  margin-left: 10px;
}
